{
    "boj_id": "",
    "boj_password": "",
    "git_id": "",
    "git_password": "",
    "remoteUrl": "",

    "commitMessage": "",
    "sourceTree": "",
    "dirName": "",
    "mkdir": ,
    "private": ,
    "poll": ,
    "sourceName": ""
}
